@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 100;
    src: local(''),
        url('../../fonts/exljbris - Museo Cyrl 100.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../../fonts/exljbris - Museo Cyrl 300.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../../fonts/exljbris - Museo Cyrl 500.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../../fonts/exljbris - Museo Cyrl 700.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Cyrl';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../../fonts/exljbris - Museo Cyrl 900.otf') format('opentype');
}
