:root {
    /* Colors */
    $main: #f5f5e3 !global;
    $white: #ffffff !global;
    $black: #000000 !global;
    $red1: #e0353e !global;
    $red2: #e34049 !global;
    $green1: #97c550 !global;
    $green2: #9ac845 !global;
    $brown: #6c321c !global;
    $sand: #eedec5 !global;
    $grey-light: #f7f7e9 !global;
    $grey: #d7d7d7 !global;
    $shadow: #dbdbdb !global;

    /* Text colors */
    $text-black: #000000 !global;
    $text-white: #ffffff !global;
    $text-light: #eedec5 !global;
    $text-dark1: #313131 !global;
    $text-dark2: #3e3330 !global;
    $text-dark3: #564d48 !global;
    $text-sand-light: #d4c6b1 !global;
    $text-sand-dark1: #666058 !global;
    $text-sand-dark2: #68604b !global;
    $text-red: #e0353e !global;
    $text-green-light: #97c550 !global;
    $text-green-dark: #77924e !global;
    $text-brown: #6c321c !global;

    /* Background colors */
    $bg-white: #ffffff !global;
    $bg-main: #f5f5e3 !global;
    $bg-footer: #282525 !global;

}