.hero {
    padding: 100px 0 79px;
    background: $brown url('../img/backgrounds/bg-hero.jpg') no-repeat;
    background-size: cover;
}
.hero-container {

}
.hero-wrapper {
    max-width: 458px;
}
.hero-title {
    font-weight: 300;
    font-size: 60px;
    color: $white;
    line-height: 47px;
}
.hero-subtitle {
    margin-top: 38px;
    font-weight: 300;
    font-size: 20px;
    color: $text-light;
    line-height: 22px;
}
.hero-buttons {
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.hero-button-price {
    background-color: $white;
    font-weight: 300;
    font-size: 17px;
    color: $text-black;
    transition: background-color 0.2s linear;

    &:hover {
        color: $white;
        background-color: $red1; 
    }
}
.hero-button-order {
    background-color: $red2;
    font-weight: 500;
    font-size: 17px;
    color: $text-white;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: $green2; 
    }
}

@media screen and (max-width: 1920px) {
    .hero {
        background-size: 1920px auto;
        background-position: center;
    }
}

@media screen and (max-width: 1250px) {
    .hero {
        background-position: -350px center;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 60px 0 40px;
    }
    .hero-title {
        font-size: 40px;
        line-height: 40px;
    }
    .hero-subtitle {
        font-size: 18px;
    }

    .hero-button-price {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        padding: 30px 0 30px;
    }
    .hero-title {
        font-size: 30px;
        text-align: center;
    }
    .hero-subtitle {
        text-align: center;
    }
    .hero-buttons {
        flex-direction: column;
    }
    .hero-button-price,
    .hero-button-order {
        min-width: 200px;
    }
}