.order {
    padding: 72px 0 66px;
    background: rgb(26, 13, 3) url('../../img/backgrounds/bg-order.jpg') no-repeat;
    background-size: cover;
}
.order-title {
    margin-bottom: 29px;
    max-width: 555px;
    font-weight: 300;
    font-size: 50px;
    color: $white;
}
.order-subtitle {
    margin-bottom: 52px;
    max-width: 555px;
    font-weight: 300;
    font-size: 20px;
    color: $text-light;
}
.order-form {
    max-width: 848px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px 12px;
}
.order-form-input {
    height: 60px;
    background-color: #f5f5e3;
    font-weight: 100;
    font-size: 18px;
    color: #68604b;
    &::placeholder {
        color: #68604b;
    }
}
.order-form-input_sm {
    width: 198px;
}
.order-form-input_lg {
    width: 322px;
}
.order-form-select {
    width: 322px;
    height: 60px;
    font-weight: 100;
    font-size: 18px;
    color: #68604b;
    appearance: none;
    background: #f5f5e3 url('../../img/icons/icon-select-grey.png') no-repeat right 21px center / 18px;
    cursor: pointer;
    &::placeholder {
        color: #68604b;
    }
}

.order-form-button {
    display: block;
    height: 60px;
    padding: 0 29px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    color: $white;
    background-color: $red1;
    transition: background-color 0.1s linear;
    &:hover {
        opacity: 1;
        background-color: $green1; 
    }
}

@media screen and (max-width: 1920px) {
    .order {
        background-size: cover;
        background-position: center;
    }
}


@media screen and (max-width: 768px) {
    .order {
        padding: 36px 0 43px;
    }
    .order-title {
        font-size: 35px;
        text-align: center;
    }
    .order-subtitle {
        font-size: 18px;
    }
    .order-form {
        max-width: 380px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }
    .order-form-input {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .order-form-select {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .order {
        padding: 30px 0 36px;
    }
    .order-title {
        font-size: 30px;
        margin-bottom: 22px;
    }
    .order-subtitle {
        font-size: 16px;
        margin-bottom: 28px;
    }
    .order-form {
        gap: 12px;
    }
    .order-form-input {
        font-size: 14px;
    }
    .order-form-select {
        font-size: 14px;
    }
    .order-form-button {
        height: 40px;
        margin-top: 16px;
        font-size: 16px;
        position: relative;
    }
}
